:root { 
--gray_50_01:#f7fafc; 
--blue_gray_500_7f:#67748e7f; 
--red_600:#e53e3e; 
--blue_A400:#2684ff; 
--red_800:#c53030; 
--deep_purple_400:#805ad5; 
--green_A100:#c6f6d5; 
--green_700:#2f855a; 
--white_A700_93:#ffffff93; 
--pink_A400_90:#ff008090; 
--yellow_600:#fbcf33; 
--green_A700:#16ad37; 
--yellow_800:#ecb22e; 
--blue_gray_800_28:#31386028; 
--indigo_50_01:#e9edf7; 
--indigo_50_02:#e0e5f2; 
--blue_gray_700:#3a416f; 
--deep_purple_A400:#4218ff; 
--pink_500:#dc395f; 
--blue_gray_900:#2d3748; 
--pink_300:#ff657b; 
--purple_500:#cb0c9f; 
--red_A700:#ea0606; 
--yellow_800_01:#f79e1b; 
--black_900_05:#00000005; 
--gray_400:#c4c4c4; 
--blue_gray_100:#cbd5e0; 
--blue_700:#3182ce; 
--blue_gray_300:#8e9ab9; 
--black_900_0f:#0000000f; 
--gray_300_27:#e0e1e227; 
--cyan_200:#81e6d9; 
--indigo_A700:#2052ff; 
--lime_A700:#98ec2d; 
--white_A700_26:#ffffff26; 
--white_A700_28:#ffffff28; 
--red_A700_01:#eb001b; 
--white_A700:#ffffff; 
--blue_gray_50:#edf2f7; 
--white_A700_1e:#ffffff1e; 
--light_blue_A200:#36c5f0; 
--deep_purple_500:#7927ca; 
--gray_900_e0:#151828e0; 
--red_500:#f53838; 
--light_blue_400:#21d4fd; 
--gray_50:#fbfbfb; 
--deep_purple_300:#9f7aea; 
--green_400:#48bb78; 
--red_100:#fed7d7; 
--teal_400:#2eb67d; 
--black_900:#000000; 
--pink_A400:#ff0080; 
--blue_gray_800:#344767; 
--deep_purple_500_90:#7927ca90; 
--pink_600:#e01e5a; 
--deep_orange_400:#ed8936; 
--purple_A100:#ff61f6; 
--blue_gray_800_7e:#3138607e; 
--yellow_100:#feebc8; 
--pink_200:#f687b3; 
--gray_900_02:#470137; 
--gray_900_03:#171b2c; 
--blue_gray_200:#a0aec0; 
--blue_gray_400:#718096; 
--blue_800:#2a69ac; 
--indigo_50:#e2e8f0; 
--red_A100:#fc8181; 
--gray_900:#141627; 
--gray_900_01:#151928; 
--light_blue_50:#ceedff; 
--gray_300:#e0e1e2; 
--blue_gray_800_01:#313860; 
--orange_300:#f6ad55; 
--gray_300_00:#e0e1e200; 
--gray_100:#f2f2f2; 
--cyan_300:#4fd1c5; 
--gray_900_7e:#1518287e; 
--blue_400:#4299e1; 
}